button[type=sumbit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;


  }

  #btn:hover {
    background-color: lightskyblue;
  }


  input[type=date],
  input[type=email],
  input[type=text],select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;


  }

  textarea {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0px;
    line-height:4;
    resize:none;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  body {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    position: relative;
    top: 50px;
    left: 5px;
    border-radius: 30px;
  }